<html>
<head>
    <title>Chicago Police Data</title>
</head>
<body>
    {% for cop in cops_with_data %}
        <li>{{ cop.name }} is an active {{cop.role}} against whom {{cop.complaint_count}} complaints have been recorded, according to Chicago Reporter investigations
        <br> and they have been named in misconduct settlements costing taxpayers {{"${:,.0f}".format(cop.total_payments)}}, according to CPDP investigations
        <br><a href={{cop.page_url}}>Click here for their full misconduct profile</a></li>
    {% endfor %}
</body>
</html>